
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: , serif;
  font-weight: 700;
  color: #D75C37;   
}

body
{
  font-family: 'Lato', arial, sans-serif;
  /*color: #466675;*/
  color: #3F3F3F;
  background-color: #CCCCCC;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.header
{
	background-color: #F5F5F5;
}
.header .profilePic
{
	margin-top:10px;
	margin-bottom: 10px; 
	margin-left: 100px;
	width: 150px;
	height: 150px;

	
}

.header .name{
	font-size: 3em;
	font-weight: 600; 
	margin: 50px 50px 10px 100px;
	line-height: 1.5 em;
	
	/*letter-spacing: .1em;*/
	 text-transform: uppercase;
}

.header #title
{
	margin-left: 100px;
	margin-top: 10px; 
	line-height: 1em;
	font-size: 1.2em;
	font-weight: 300;
	color: #466675;
}

.contactInfo
{
	margin-top: 30px;
	margin-left: 30px;
	
	
}

.contactInfo li{
	list-style: none;	
	color: #466675;
	margin: 10px;
	padding-left: 50px;
}

.contactInfo #address i
{
	padding: 5px 8px;
}

.contactInfo #email i
{
	padding: 5px 7px;
}

.contactInfo #phone i
{
	padding: 5px 10px;
}

.contactInfo a{
	text-decoration: none;
	font-weight: bold;
	color: #466675;
}

.contactInfo a:hover{
	color: #D75C37;
}

.wrapper
{
	padding-top: 40px;
	padding-bottom: 40px
}

.aboutme
{

	background-color: #F5F5F5;
	padding: 10px;
	margin: 10px;
	
}

.sectionGlobal
{
	background-color: #F5F5F5;
	margin: 40px 10px;
	padding: 10px;
}

.degree
{
	font-size: 1.1em;
	margin:  10px;
	color: #466675;	
	font-weight: 600;
}

.university 
{
	padding: 10px;
	font-style: italic; 
	color: #466675;
}


.companyName{
	font-weight: bold;
	color: #466675;
	padding: 5px;
	margin: 10px 0;
	float: left;
	background-color: #CCCCCC;;
	
}

.duration{
		
	font-weight: bold;
	float: right;	
	color: #466675;
	padding: 5px;
	margin: 10px 0;
	background-color: #CCCCCC;
}

.clearBoth
{
	clear: both;
}

.hrLine
{
	margin: 5px 0;
	border-bottom: 2px solid;
	border-color: #D75C37; 
}

.jobDescription li
{
	margin:10px 0;	
}

.subTitle
{
	font-weight: bold;
	padding: 20px 0;
}
ul.competencies li
{
	margin:20px 0;
	color: #466675;

}
ul li span
{
	position: relative;
	left: 5px;
}

.fa
{
  color: #D75C37;
}

.scale{
	list-style: none;
	padding: 0;
	margin: 10px;
	background-color: yellow;
}

ul.scale li
{
	float: left;
	height: 25px;
	color: #466675;;
	text-align: center;
	margin:20px 0;
	list-style-position: inside;
	/*line-height: 25px;*/
	width: 33%;
}

ul.scale li.beginner
{
	background-color: #EFF75B;
}

ul.scale li.intermediate
{
	background-color: #A0F939;
}

ul.scale li.advanced
{
	background-color: #009907;
}

.skillsGraph
{
	list-style: none;
	padding: 0;
	margin: 20px;
	clear: both;
	
}


ul.skillsGraph li
{
	
	color: #466675;
	text-align: left;
	margin:20px 0;
	list-style-position: inside;
	line-height: 25px;
	height: 30px;	
	padding: 5px;
}

ul.skillsGraph li.htmlCSS
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff75b+0,a0f939+57,a0f939+57 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff75b+42,a0f939+66 */
	background: #eff75b; /* Old browsers */
	background: -moz-linear-gradient(left,  #eff75b 42%, #a0f939 66%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(42%,#eff75b), color-stop(66%,#a0f939)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #eff75b 42%,#a0f939 66%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #eff75b 42%,#a0f939 66%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #eff75b 42%,#a0f939 66%); /* IE10+ */
	background: linear-gradient(to right,  #eff75b 42%,#a0f939 66%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff75b', endColorstr='#a0f939',GradientType=1 ); /* IE6-9 */

	width: 60%;
}

ul.skillsGraph li.javascript
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff75b+61,a0f939+77 */
	background: #eff75b; /* Old browsers */
	background: -moz-linear-gradient(left,  #eff75b 61%, #a0f939 77%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(61%,#eff75b), color-stop(77%,#a0f939)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #eff75b 61%,#a0f939 77%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #eff75b 61%,#a0f939 77%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #eff75b 61%,#a0f939 77%); /* IE10+ */
	background: linear-gradient(to right,  #eff75b 61%,#a0f939 77%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff75b', endColorstr='#a0f939',GradientType=1 ); /* IE6-9 */

	width: 50%;
}

ul.skillsGraph li.worldpress
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff75b+81,a0f939+99 */
	background: #eff75b; /* Old browsers */
	background: -moz-linear-gradient(left,  #eff75b 81%, #a0f939 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(81%,#eff75b), color-stop(99%,#a0f939)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #eff75b 81%,#a0f939 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #eff75b 81%,#a0f939 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #eff75b 81%,#a0f939 99%); /* IE10+ */
	background: linear-gradient(to right,  #eff75b 81%,#a0f939 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff75b', endColorstr='#a0f939',GradientType=1 ); /* IE6-9 */

	width: 40%;
}

ul.skillsGraph li.csharp
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff75b+29,a0f939+74,009907+99 */
	background: #eff75b; /* Old browsers */
	background: -moz-linear-gradient(left,  #eff75b 29%, #a0f939 74%, #009907 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(29%,#eff75b), color-stop(74%,#a0f939), color-stop(99%,#009907)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #eff75b 29%,#a0f939 74%,#009907 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #eff75b 29%,#a0f939 74%,#009907 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #eff75b 29%,#a0f939 74%,#009907 99%); /* IE10+ */
	background: linear-gradient(to right,  #eff75b 29%,#a0f939 74%,#009907 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff75b', endColorstr='#009907',GradientType=1 ); /* IE6-9 */
	
	width: 80%;
}


/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header {
    text-align: center;
  }
  .header .profilePic {
    float: none !important;
    margin: 10px auto;
  }
  .header .name {
    float: none !important;
    text-align: center;
    margin: 0;
  }
  .header #title {
    float: none !important;
    text-align: center;
   margin-top: 10px;
   margin-bottom: 20px;
   margin-right: auto;
   margin-left: auto;
  }
  
  .header .contactInfo
  {
  	float: none !important;
   
    margin: 10px auto;
   
  }

  .header .contactInfo li{
  	padding: 0;
  }

  

  .companyName
  {
  	float: none !important;
  }

  .duration{
  	float: none !important;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1360px;
  }
}