body{
	margin:0;
	font-family: verdana, georgia;
	font-size: 12px;
}

h2{
	font-family: Georgia, verdana, serif;
	font-size: 1.2em;
	font-weight: bold;
	margin: 5px;
}

ul
/* This class defines the total width and height of the resume template. The outer border of the resume
All the other elements are chidren of this class.*/
.fixedWidthContainer
{
	width: 100%;
	margin:0 auto;
	border: 5px solid grey;
	padding: 5px;
}

/*The top bar of the resume which contains personal information.
The #header_bar is further divided into 4 columns*/
#header_bar
{
	height: 110px;
	padding-bottom: 5px;		
	padding-bottom:5px;
	padding-top: 5px;	
	background-color: #DDDDDD;
	border-bottom: 2px solid grey;
	border-radius: 20px;

}


/*First column of the header. This column contains first name, last name and title*/
.headerNameAndTitle
{
	width: 350px;
	padding: 0 0 0 10px;
	float: left;
	margin:0;
	line-height: 2em;

	
}

.name{
	font-size: 3em;
	font-weight: 600; 
	font-family: georgia;
	margin-top: 30px;
	margin-bottom: 10px;
	/*letter-spacing: .1em;*/
	 text-transform: uppercase;
}
/*#first_name{
	margin-top: 30px;
	margin-bottom: 10px;
}

#last_name{
	margin-top: 5px;
	margin-bottom: 0px;
}*/

.name p{
	margin: 0;
}



#title
{
	margin-left: 0;
	margin-top: 10px; 
	line-height: 1em;
	font-size: 1.2em;
	font-weight: 300;
}

/*Second column of the header that contains profile picture*/
.headerProfilePic
{
	width: 200px;
	float: left;
}

#profile_pic{
	height: 100px;
	width: 100px;
	margin-left: 30px;
	margin-top: 10px;
	border-radius: 10px;
}

/*Third column of the header that contains objective statement*/
.headerCol3
{
	width: 270px;
	padding-top: 20px;
	padding-left: 10px;
	float: left;
	font-size: 1.2em;
}

.headerCol3 p
{
	margin: 0;
}

/*Last column of the header that contains the contact information*/
.headerContactInfo
{
	width: 320px;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}


.contactInfo
{
	padding-left: 0;
	font-size: 1.2em;
	
}

.contactInfo li{
	list-style: none;	
	color: #004284;
}

#address i
{
	padding: 5px 8px;
}

#email i
{
	padding: 5px 7px;
}

#phone i
{
	padding: 5px 10px;
}

.contactInfo a{
	text-decoration: none;
	font-weight: bold;
	color: #004284;
}

.contactInfo a:hover{
	color: orange;
}
/*.contactInfo li:before{
	font-family: 'FontAwesome';    
    margin:0 5px 0 -15px;
    color: blue;
    content: "\f003"
  }

ul{
	padding-left: 20px;
}*/

.leftBox
{
	width: 62%;
	margin-top: 15px;
	margin-right: 15px;	
	float: left;
	padding-left: 20px;
	text-align: justify;
}

.container{
	font-weight: 200;
	margin: 0;
	padding: 0;
}

.rightBox
{
	width: 33.3%;
	margin-top: 15px;
	background-color: grey;		/*#CCCCCC;*/
	float: left;
	padding: 10px;	
	color: white;
	border-radius: 10px;

	
}

.rightBox h2
{
	font-size: 1.2em;
	font-weight: 600;
	margin: 10px;
}

.rightBox p
{
	
	display: inline-block;
	margin:  10px;
}

.university
{
	font-size: 1.2em;
	margin:  10px;
	
}

.experience{
	background: url(../images/experience.JPG) no-repeat left top;	
	background-size: 30px 30px;	
	background-position: left center;
	font-family: georgia;
	font-size: 1.3em;
	font-weight: 600;
	padding-left: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 0;
	
}


.companyName{
	font-weight: bold;
	font-size: 1.2em;
	width: 500px;	
	float: left;
}

.duration{
	text-align: right;	
	font-weight: bold;
	width: 150px;	
	float: right;

}

.edDuration{
	text-align: right;	
	font-weight: bold;
	width: 150px;	
	float: right;
	margin: 10px;

}

.clearBoth
{
	clear: both;
}
.jobDescription{
	padding: 20px 0;
}

.subTitle
{
	font-weight: bold;
	margin-top:20px;
}

.scale{
	list-style: none;
	padding: 0;
	margin: 10px;
	background-color: yellow;
}

ul.scale li
{
	float: left;
	height: 15px;
	color: black;
	text-align: center;
	margin:10px 0;
	list-style-position: inside;
	/*line-height: 25px;*/
	width: 33%;
}

ul.scale li.beginner
{
	background-color: #EFF75B;
}

ul.scale li.intermediate
{
	background-color: #A0F939;
}

ul.scale li.advanced
{
	background-color: #009907;
}

.skillsGraph
{
	list-style: none;
	padding: 0;
	margin: 10px;
	
}


ul.skillsGraph li
{
	height: 25px;
	color: black;
	text-align: left;
	margin:10px 0;
	list-style-position: inside;
	line-height: 25px;
}

ul.skillsGraph li.skillContainer
{
	width: 100%;
	border: solid;
}

ul.skillsGraph li.htmlCSS
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff75b+0,a0f939+57,a0f939+57 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff75b+42,a0f939+66 */
	background: #eff75b; /* Old browsers */
	background: -moz-linear-gradient(left,  #eff75b 42%, #a0f939 66%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(42%,#eff75b), color-stop(66%,#a0f939)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #eff75b 42%,#a0f939 66%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #eff75b 42%,#a0f939 66%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #eff75b 42%,#a0f939 66%); /* IE10+ */
	background: linear-gradient(to right,  #eff75b 42%,#a0f939 66%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff75b', endColorstr='#a0f939',GradientType=1 ); /* IE6-9 */

	width: 60%;
}

ul.skillsGraph li.javascript
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff75b+61,a0f939+77 */
	background: #eff75b; /* Old browsers */
	background: -moz-linear-gradient(left,  #eff75b 61%, #a0f939 77%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(61%,#eff75b), color-stop(77%,#a0f939)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #eff75b 61%,#a0f939 77%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #eff75b 61%,#a0f939 77%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #eff75b 61%,#a0f939 77%); /* IE10+ */
	background: linear-gradient(to right,  #eff75b 61%,#a0f939 77%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff75b', endColorstr='#a0f939',GradientType=1 ); /* IE6-9 */

	width: 50%;
}

ul.skillsGraph li.worldpress
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff75b+81,a0f939+99 */
	background: #eff75b; /* Old browsers */
	background: -moz-linear-gradient(left,  #eff75b 81%, #a0f939 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(81%,#eff75b), color-stop(99%,#a0f939)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #eff75b 81%,#a0f939 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #eff75b 81%,#a0f939 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #eff75b 81%,#a0f939 99%); /* IE10+ */
	background: linear-gradient(to right,  #eff75b 81%,#a0f939 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff75b', endColorstr='#a0f939',GradientType=1 ); /* IE6-9 */

	width: 40%;
}

ul.skillsGraph li.csharp
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff75b+29,a0f939+74,009907+99 */
	background: #eff75b; /* Old browsers */
	background: -moz-linear-gradient(left,  #eff75b 29%, #a0f939 74%, #009907 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(29%,#eff75b), color-stop(74%,#a0f939), color-stop(99%,#009907)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #eff75b 29%,#a0f939 74%,#009907 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #eff75b 29%,#a0f939 74%,#009907 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #eff75b 29%,#a0f939 74%,#009907 99%); /* IE10+ */
	background: linear-gradient(to right,  #eff75b 29%,#a0f939 74%,#009907 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff75b', endColorstr='#009907',GradientType=1 ); /* IE6-9 */
	
	width: 80%;
}


